<a href="https://colab.research.google.com/github/SuryARavichan/python-basics/blob/main/PDS_Revision1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#For the given dictionary, perform the following
D={'Name':'Rajesh','Id':'2021052','Salary':42856.00}
D

{'Name': 'Rajesh', 'Id': '2021052', 'Salary': 42856.0}

In [ ]:
type(D['Salary'])

float

In [ ]:
#1. Insert the Department key with the value Finance

In [ ]:
D['Dept']='Finance'

In [ ]:
D

{'Name': 'Rajesh', 'Id': '2021052', 'Salary': 42856.0, 'Dept': 'Finance'}

In [ ]:
#2. Delete the Id field
del D['Id']

In [ ]:
D

{'Name': 'Rajesh', 'Salary': 42856.0, 'Dept': 'Finance'}

In [ ]:
D

{'Name': 'Rajesh', 'Salary': 42856.0, 'Dept': 'Finance'}

In [ ]:
'Id' not in D

False

In [ ]:
'Name'in D

True

In [ ]:
'Gender' not in dict

True

'in' keyword is used to check if a value is present in a sequence

In [ ]:
#3.Enter the values to dict using input function
dict2=eval(input("Enter elements in {}: "))

Enter elements in {}: {'A':10,'B':20,'C':30}

In [ ]:
dict2['A']

10

In [ ]:
type(dict2)

dict

In [ ]:
sum(dict2.values())

30

In [ ]:
#using for-loop with dictionary
colors={'r':'Red','g':'Green','b':'Blue','w':'White'}
colors

{'r': 'Red', 'g': 'Green', 'b': 'Blue', 'w': 'White'}

In [ ]:
for dat in colors:
  print(dat)

r
g
b
w

In [ ]:
#4.using a for-loop retrieve elements of dictionary
for k in colors:
  print(colors[k])

Red
Green
Blue
White

In [ ]:
#5.Consider the two lists given below
n1=[1,2,3,4,5]
n2=[10,11,1,2]
#5.Create a new list n3 with numbers present in n1 but not in n2

In [ ]:
n3=[]
for i in n1:
  if i not in n2:
    n3.append(i)
print(n3)

[3, 4, 5]

In [ ]:
a=[3,4,5]
b=[]
for val in a:
  b.append(val**2)
print(b)

[9, 16, 25]

In [ ]:
c=[val**2 for val in a if val%2==0]
print(c)

[16]

In [ ]:
#6. Perform the above task using list comprehension
n4=[i for i in n1 if i not in n2]
print(n4)

[3, 4, 5]

In [ ]:
#7. A nested list is given below
mat=[[1,2,3],[4,5,6],[7,8,9]]
mat

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
mat[2][1:]

[8, 9]

In [ ]:
for row in mat:
  for val in row:
    print(val)
    print('done')

1
done
2
done
3
done
4
done
5
done
6
done
7
done
8
done
9
done

In [ ]:
#7. Print the above nested list like a 3x3 matrix
for r in mat:
  print(r)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
4*[0]

[0, 0, 0, 0]

In [ ]:
#8.What is the output of below list comprehension
m=[4*[0] for i in range(3)]
print(m)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
#.Consider the two nested list given below
L1=[[1,2,3,4],[5,6,7,8],[9,0,-1,2]]
L2=[[0,1,2,3],[-2,4,3,2],[5,4,3,9]]
print(L1)
print(L2)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 0, -1, 2]]
[[0, 1, 2, 3], [-2, 4, 3, 2], [5, 4, 3, 9]]

In [ ]:
L1+L2

[[1, 2, 3, 4],
 [5, 6, 7, 8],
 [9, 0, -1, 2],
 [0, 1, 2, 3],
 [-2, 4, 3, 2],
 [5, 4, 3, 9]]

In [ ]:
#9.Add the corresponding elements of L1 and L2 and and store in L3

In [ ]:
L3=[4*[0] for i in range(3)]
for i in range(3):
  for j in range(4):
    L3[i][j]=L1[i][j]+L2[i][j]
print(L3)

[[1, 3, 5, 7], [3, 10, 10, 10], [14, 4, 2, 11]]

In [ ]:
[[L1[i][j]+L2[i][j] for j in range(4)] for i in range(3)]

[[1, 3, 5, 7], [3, 10, 10, 10], [14, 4, 2, 11]]

In [ ]:
#10 Using List comprehension get squares of even integers from 1 to 10

In [ ]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[x**2 for x in range(1,11) if x%2==0]

[4, 16, 36, 64, 100]

In [ ]:
#For the given list below
fruits=['Apple','Orange','Banana','Grapes']
#11.Extract all first characters of each fruit and collect in the form of list comprehension

In [ ]:
[w[0] for w in fruits]

['A', 'O', 'B', 'G']

In [ ]:
#12.Create a Lambda function that returns squares of elements in a list
lst=[1,2,3,4,5]

In [ ]:
list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25]

In [ ]:
#Consider the below two list
lst1=[1,2,3,4,5]
lst2=[6,7,8,9,10]
#13.Write a lambda function to return product of each element of two lists

In [ ]:
[lst1[idx]*lst2[idx] for idx in range(5)]

[6, 14, 24, 36, 50]

In [ ]:
list(map(lambda x,y:x*y,lst1,lst2))

[6, 14, 24, 36, 50]

In [ ]:
#For the given list 
a=[[1,2,3],[4,5,6],[7,8,9]]
#14.Using list comprehension square each element and save the result in a 2D list

In [ ]:
#conventional way
for row in a:
  for x in row:
    print(x**2)
    print('done')

1
done
4
done
9
done
16
done
25
done
36
done
49
done
64
done
81
done

In [ ]:
sq=[[x**2 for x in row] for row in a]
print(sq)

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

In [ ]:
#15.Perform the same operation using List comprehension
flat=[]
for sublist1 in a:
  for sublist2 in sublist1:
    flat.append(sublist2)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
flat=[j for sub in a for j in sub]
flat

[1, 2, 3, 4, 5, 6, 7, 8, 9]

* Prefer Enumerate over Range

In [ ]:
flavor_list=['vanilla','chocolate','mango','strawberry']
for i in range(len(flavor_list)):
  flavor=flavor_list[i]
  print('%d: %s' %(i+1,flavor))

1: vanilla
2: chocolate
3: mango
4: strawberry

In [ ]:
for flavor,i in enumerate(flavor_list):
  print(i)
  print(flavor)
  print('done')

vanilla
0
done
chocolate
1
done
mango
2
done
strawberry
3
done

In [ ]:
for i,flavor in enumerate(flavor_list):
  print('%d: %s' %(i+1,flavor))

1: vanilla
2: chocolate
3: mango
4: strawberry

* use zip to process multiple iterators in parallel

In [ ]:
names=['Rajesh','Dinesh','Harshan','Suhas','Mahasri','Nethrasri','Yuva']
letters=[len(n) for n in names]
print(letters)

[6, 6, 7, 5, 7, 9, 4]

In [ ]:
#method-1
longest_name=None
max_letters=0
for i in range(len(names)):
  count=letters[i]
  if count>max_letters:
    longest_name=names[i]
    max_letters=count
print(longest_name)

Nethrasri

In [ ]:
#method-2
for i,name in enumerate(names):
  count=letters[i]
  if count>max_letters:
    longest_name=name
    max_letters=count
print(longest_name)

Nethrasri

In [ ]:
#method-3
for name,count in zip(names,letters):
  if count>max_letters:
    longest_name=name
    max_letters=count
print(longest_name)

Nethrasri