<a href="https://colab.research.google.com/github/SuryARavichan/python-basics/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('welcome to the python basics!')
print("Hello!, Let's get started!")

welcome to the python basics!
Hello!, Let's get started!

In [ ]:
a = 451515
b = 789569
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)

1241084
-338054
356502247035
0.5718499586483259
0

In [ ]:
user = int(input('enter your number: '))
square_root = user ** 0.5
print('the square root of the number is', square_root)

enter your number: 157888
the square root of the number is 397.3512300220046

In [9]:
x = int(input('enter the number: '))
y = int(input('enter the number: '))
temp = x
x = y
y = temp
print('the values after swapping is: {}'.format(x))
print('the values after swapping is: {}'.format(y))

enter the number: 45
enter the number: 58
the values after swapping is: 58
the values after swapping is: 45

In [21]:
import random
surya = random.randint(0,15)
print(surya)

8

In [24]:
kilometers = int(input('enter the respective number: '))
conv_factor = 0.621371
meters = kilometers * conv_factor
print('the converted value of the meters is: ',meters)

enter the respective number: 4587853
the converted value of the meters is:  2850758.806463

In [27]:
cel = int(input('enter the respective number: '))
fah = 1.8
celsius = cel * fah + 1.32
print('the cooverted value of celsisus to fahrenheit is: ',celsius)

enter the respective number: 458855
the cooverted value of celsisus to fahrenheit is:  825940.32

In [34]:
a = int(input('enter the number: '))
if a>0:
  print('positive number')
elif a<0:
  print('negative number')
else:
  print('zero')

enter the number: 0
zero

In [37]:
nat = int(input('enter the number: '))
if nat%2==0:
  print('even number')
else:
  print('odd number')

enter the number: 78
even number

In [40]:
leapyear = int(input('enter the number: '))
if leapyear %4==0:
  print('the given year is a leap year')
else:
  print('the given year is not a leap year')

enter the number: 2021
the given year is not a leap year

In [44]:
num1 = int(input('enter the number: '))
num2 = int(input('enter the number: '))
num3 = int(input('enter the number: '))
if (num1>=num2) and (num1>=num3):
  print('num1 is largest number from the list')
elif (num2>=num1) and (num2>=num3):
  print('num2 is largest number from the list')
else:
  print('num3 is largest number from the list')

enter the number: 12
enter the number: 56
enter the number: 0
num2 is largest number from the list

In [47]:
natali = int(input('enter the number: '))
if natali %2!=0:
  print('prime number')
else:
  print('not a prime number')

enter the number: 10
not a prime number

In [52]:
'surya from the united states of america'[::-1]

'acirema fo setats detinu eht morf ayrus'